{% extends "Home/base.html" %}

{% load static %}

{% block content %}
<body style="background-image: url('{% static 'background/Enemy Background.jpg' %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="container-md-6 mx-auto text-center ">
        <h2 style="background-color: DarkGray; color: black; font-weight: bold;">Select a Place</h2>
        <ul class="list-group">
            <li class="list-group-item mt-2" style="background-color: DarkGray; color: black; font-weight: bold;">
                <a href="{% url 'Bots_Farm:region_selection' %}">Dangerous regions</a>
            </li>
            <li class="list-group-item mt-2" style="background-color: DarkGray; color: black; font-weight: bold;">
                <a href="{% url 'Arena:arena_select' %}">Arena</a>
            </li>
        </ul>
        <p><a class="btn btn-primary border border-secondary mt-3" href="{% url 'World:main' %}" style="background-color: DarkGray; color: black; font-weight: bold;">Go back to World</a></p>
    </div>
</body>
{% endblock content %}
